@media (prefers-color-scheme: light) {
  :root {
    --mm-accent: oklch(62% .22 23);
    --mm-accent-alpha-70: oklch(62% .22 23 / .7);
    --mm-accent-alpha-20: oklch(62% .22 23 / .2);

    --mm-background: oklch(100% 0 0);
    --mm-foreground: oklch(21% .06 304);
    --mm-border-color: oklch(7% .05 264 / .125);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --mm-accent: oklch(.7 .19 22);
    --mm-accent-alpha-70: oklch(.7 .19 22 / .7);
    --mm-accent-alpha-20: oklch(.7 .19 22 / .2);

    --mm-background: oklch(.24 .01 298);
    --mm-foreground: oklch(1 0 0);
    --mm-border-color: oklch(1 0 0 / .1);
  }
}