@use "variables";

@mixin menu {
  position: absolute;
  background: var(--mm-background);
  box-shadow: var(--mm-shadow);
  color: white;
  border: 2px solid;
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 99;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;

  gap: 1em;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex: 1;

    &:after {
      content: '';
      background: repeating-linear-gradient(90deg, var(--mm-accent), var(--mm-accent) 2px, transparent 0, transparent 16px);
      display: block;
      width: 100%;
      right: 10px;
    }

    a {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }

  &__utils {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
    margin: 0 .5rem;

    text-decoration: none;

    * {
      display: grid;
      place-content: center;
    }
  }

  .menu {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 1em;

      margin: 0;
      padding: 0;

      li {
        &.active {
          color: var(--mm-accent-alpha-70);
        }
      }
    }

    &__sub-inner {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      &:not(:only-child) {
        margin-left: 20px;
      }

      &-more {
        @include menu;
        top: 35px;
        left: 0;

        &-trigger {
          color: var(--mm-accent);
          user-select: none;
          cursor: pointer;
        }

        li {
          margin: 0;
          padding: 5px;
          white-space: nowrap;
        }
      }
    }
  }
}