{% macro head(config) %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <noscript>
    <link rel="stylesheet" href="{{ get_url(path="/styles/no-js.css", trailing_slash=false) | safe }}">
    </noscript>
    
    <link rel="stylesheet" href="{{ get_url(path="/styles/main.css", trailing_slash=false) | safe }}">
    <link rel="stylesheet" href="{{ get_url(path="/styles/font-hack-subset.css", trailing_slash=false) | safe }}">
{% endmacro head %}
