{% import "macros/date.html" as date_macros -%}
{% import "macros/head.html" as head_macros -%}
{% import "macros/i18n.html" as i18n_macros -%}
{% import "macros/icons.html" as icons_macros -%}
{% import "macros/menu.html" as menu_macros -%}
{% import "macros/post.html" as post_macros -%}
{% import "macros/title.html" as title_macros -%}

<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <title>{%- block title %}{{ config.title }}{% endblock title -%}</title>

    {{- head_macros::head(config=config) -}}

    {%- block rss %}
    <link title="{{ config.title }} global feed ({{ lang }})" rel="alternate" type="application/atom+xml" href="{{ get_url(path=config.feed_filename, lang=lang) }}">
    {% endblock -%}

    {%- block extra_head %}
    {% endblock extra_head %}
</head>

<body>
<div class="container">
    {% block header %}
    <header class="header">
        <div class="header__inner">
            <div class="header__logo">
                <a href="{{ i18n_macros::prefix_path(path="/") | safe }}" style="text-decoration: none;">
                    <div class="logo">
                        {%- block logo_content -%}
                            {{- menu_macros::logo_text(config=config) -}}
                        {%- endblock logo_content -%}
                    </div>
                </a>
            </div>

            {% set current_path = current_path | default(value="/") -%}
            {%- if lang == config.default_language -%}
                {% set next_lang_link = "/fr" ~ current_path %}
            {%- else -%}
                {% set next_lang_link = current_path | replace(from="/" ~ lang ~ "/", to="/") %}
            {%- endif -%}
            <a href="{{ next_lang_link | safe }}" style="margin: 0 1em; text-decoration: none;">
                {{ lang }}
                {{ icons_macros::generic(icon="arrows-rotate") }}
            </a>
        </div>

        {% block header_menu %}
        {{ menu_macros::menu(config=config, current_path=current_path) }}
        {% endblock header_menu %}
    </header>
    {% endblock header %}

    <div class="content">{% block content %}{% endblock content %}</div>

    {% block footer %}
    <footer class="footer">
        <div class="footer__inner">
            <div class="copyright">© {{ date_macros::now_year() | trim }} {{ config.author }}</div>

            {% if page -%}
                {% set filepath = page.relative_path -%}
            {%- elif section -%}
                {% set filepath = section.relative_path %}
            {%- else -%}
                {% set filepath = false %}
            {%- endif -%}
            {%- if filepath -%}
            <a class="edit" href="{{ config.extra.edit_page_base ~ filepath }}">
                {{- i18n_macros::tr(key="edit_page_github") -}}
            </a>
            {%- endif -%}
        </div>
    </footer>
    {% endblock footer %}
</div>
{%- block extra_body %}
{% endblock extra_body -%}
</body>

</html>
