{% extends "base.html" %}

{%- block title -%}
{{ title_macros::title(page_title=section.title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
<div class="posts">
    <p>{{ post_macros::content(page=section, summary=false) }}</p>

    <!-- Replace with manual list? -->
    {%- for page in section.pages %}
        <div class="post on-list">
            <h1 class="post-title">
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>

                {% if page.extra.status -%}
                <span class="badge" data-status="{{page.extra.status}}">{{page.extra.status}}</span>
                {% else %}{{ throw(message="status is required for "~page.title) }}{% endif -%}

                {% if page.extra.forge -%}
                <a href="{{ page.extra.forge }}">
                    <i class="icon icon-git"></i>
                </a>
                {% endif -%}

                {% if page.extra.skills -%}
                <span>·</span>
                <div class="skills">
                    {% for skill in page.extra.skills -%}
                    <img class="icon" src="/icons/{{ skill }}.svg" />
                    {% endfor -%}
                </div>
                {% endif -%}
            </h1>
            <div class="post-meta-inline">
                {{ post_macros::date(page=page) }}
            </div>

            {{ post_macros::tags(page=page) }}
            <div class="post-content">
                {{ page.extra.summary | markdown | safe }}
                <div>
                    <!-- &#xFE0E; -- force text style - some devices render this as emoji -->
                    <a class="read-more button" href="{{ page.permalink | safe }}#continue-reading">
                        <span class="button__text">{{ i18n_macros::tr(key="read_more") }}</span>&nbsp;
                        <span class="button__icon">&#8617;&#xFE0E;</span>
                    </a>
                </div>
            </div>
        </div>
    {% endfor -%}

    <div class="pagination">
        <div class="pagination__buttons">
        {%- if paginator.previous %}
            <span class="button previous">
                <a href="{{ paginator.previous | safe }}">
                    <span class="button__icon">←</span>&nbsp;
                    <span class="button__text">Newer posts</span>
                </a>
            </span>
        {% endif -%}
        {%- if paginator.next %}
            <span class="button next">
                <a href="{{ paginator.next | safe }}">
                    <span class="button__text">Older posts</span>&nbsp;
                    <span class="button__icon">→</span>
                </a>
            </span>
        {% endif -%}
        </div>
    </div>
</div>
{% endblock content %}


